<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 配置mybatis的运行行为 -->
	<settings>
		<!-- 设置log4j日志 -->
		<setting name="logImpl" value="LOG4J" />
		<!-- 设置自动映射级别 -->
		<setting name="autoMappingBehavior" value="FULL" />
	</settings>
</configuration>